In [76]:
import pandas as pd
import numpy as np

df = pd.read_csv('decal.csv')
df.columns
df.dropna(axis='columns', inplace=True)
df.drop(['Timestamp', 'Availability', 'What is your general experience with programming? ',
         'Which section are you able to attend?',
       'What do you hope to gain from taking this course?','Preferred e-mail', 'Cell Phone Number',
       "What's your (intended) major/field of study?", 'How confident do you feel about working with high school students?',
       'Are you currently enrolled in EDU 140AC?', 'Have you previously been a PiE mentor?',
       'What is your estimated graduation year (if you are an undergraduate student)?',
        'Have you previously competed in a robotics competition?',
       'How did you hear about us?','Are you able to attend the season events? [KickOff, 3/2]',
       'Are you able to attend the season events? [Game Day, 3/9]',
       'Are you able to attend the season events? [Exhibition, 4/6]',
       'Are you able to attend the season events? [Scrimmage, 4/20]',
       'Are you able to attend the season events? [Final Competition, 5/4-5/5]',
       'Please fill out this liability form.'], axis=1, inplace=True)

df.rename(columns={
        'Legal First Name (Preferred First Name)':'First_Name',
       'How confident do you feel about your mechanical skills?':'Mech_Skills',
       'How confident do you feel about your electrical skills?':'Elec_Skills',
       'How confident do you feel about Python programming?':'Program_Skills',
       'How confident are you in these categories? [Working with students]':'Students',
       'How confident are you in these categories? [Game analysis and Robot Design Analysis]':'GameAnalysis',
       'How confident are you in these categories? [Debugging/Problem Solving]':'Debug',
       'How confident are you in these categories? [Software/Controlling the Robot]':'Software',
       'How confident are you in these categories? [Team Organization]':'Team_org',
       'Availability [Monday]':'Mon', 
        'Availability [Tuesday]':'Tue',
       'Availability [Wednesday]':'Wed',
        'Availability [Thursday]':'Thu',
       'Availability [Friday]':'Fri',
        'Availability [Saturday]':'Sat',
       'Availability [Sunday]':'Sun',
       'How comfortable are you with the idea of mentoring alone?':'OK_Alone',
       'What travel options are available to you? [BART]':'BART',
       'What travel options are available to you? [Lift / Uber]':'Rideshare',
       "What travel options are available to you? [Zipcar (requires driver's license)]":'Zipcar',
       'What travel options are available to you? [Personal Car]':'Car',
       'What travel options are available to you? [Bus]':'Bus'
}, inplace=True)
df.set_index('First_Name', inplace=True)

3

In [131]:
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

#duplicated values to account for number of 1-hour blocks represented by a string
hours = ['10:00 - 12:00', '10:00 - 12:00', '12:00 - 1:00', '1:00 - 3:00', '1:00 - 3:00',
         '3:00 - 5:00', '3:00 - 5:00','6:00 - 8:00', '6:00 - 8:00']

#1-hour time blocks
by_hours = ['10:00 - 11:00', '11:00 - 12:00', '12:00 - 1:00', '1:00 - 2:00', '2:00 - 3:00',
         '3:00 - 4:00', '4:00 - 5:00','6:00 - 7:00', '7:00 - 8:00']

#dataframe containing only availabilities 
avail = df[days]

#given list of hours, generate list of hours in each day (ie: Mon 10:00-11:00)
def time_col(hour_list):
    days_times=[]
    for day in days:
        for time in hour_list:
            days_times.append(day + " " + time)
    return days_times

#list of all student names
student_names = avail.index.values

#creating boolean matrix all_avail that contains availability for each student
#each row is information for one student, each column is availabilities of each student for one given time
all_avail=[]
for student in student_names:
    stu = avail.loc[student,:]
    #list containing a student's full availibility
    full_stu=[]
    for day in days:
        for time in hours:
            full_stu.append(time in stu[day])
    all_avail.append(np.array(full_stu))

In [133]:
bool_avail = pd.DataFrame(all_avail, index=student_names, columns=time_col(by_hours)).astype(int)
bool_avail.head()

#bool_avail.to_csv(r'C:\Users\nguki\mentor4.csv')

,Mon 10:00 - 11:00,Mon 11:00 - 12:00,Mon 12:00 - 1:00,Mon 1:00 - 2:00,Mon 2:00 - 3:00,Mon 3:00 - 4:00,Mon 4:00 - 5:00,Mon 6:00 - 7:00,Mon 7:00 - 8:00,Tue 10:00 - 11:00,...,Sat 7:00 - 8:00,Sun 10:00 - 11:00,Sun 11:00 - 12:00,Sun 12:00 - 1:00,Sun 1:00 - 2:00,Sun 2:00 - 3:00,Sun 3:00 - 4:00,Sun 4:00 - 5:00,Sun 6:00 - 7:00,Sun 7:00 - 8:00
Mighty,0,0,0,1,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Sophia,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kirsten,0,0,0,0,0,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
Cameron,1,1,1,1,1,1,1,0,0,0,...,0,1,1,1,1,1,0,0,0,0
Precious,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0