# Mentor Matching Tool

In [206]:
import numpy as np
import cvxpy as cvx
import pandas as pd

# Data Importation

In [207]:
mentor_names = ["Alan", "Kirsten", "Sophia"]
school_names = ["Hayward", "Albany"]
time_slot_names = ["1-2", "2-3", "3-4", "4-5"]
num_mentors = len(mentor_names)
num_schools = len(school_names)
num_time_slots = len(time_slot_names)

In [208]:
# Each row is a school
# Each column is a time slot
school_availability = np.array([
    [1, 1, 0, 0],
    [0, 1, 1, 1],
])

pd.DataFrame(school_availability, index=school_names, columns=time_slot_names)

         1-2  2-3  3-4  4-5
Hayward    1    1    0    0
Albany     0    1    1    1

In [209]:
# Each row is a school
# Each column is a time slot
mentor_availability = np.array([
    [1, 1, 1, 1],
    [1, 1, 1, 0],
    [0, 1, 1, 0],
])

pd.DataFrame(mentor_availability, index=mentor_names, columns=time_slot_names)

         1-2  2-3  3-4  4-5
Alan       1    1    1    1
Kirsten    1    1    1    0
Sophia     0    1    1    0

In [210]:
def has_two_hour_block(a):
    for i in range(len(a) - 1):
        if a[i] and a[i + 1]:
            return int(1)
    return int(0)

In [211]:
compatability = np.zeros((num_schools, num_mentors))
for school_index in range(num_schools):
    for mentor_index in range(num_mentors):
        mutual_availability = school_availability[school_index] * mentor_availability[mentor_index]
        compatability[school_index, mentor_index] = has_two_hour_block(mutual_availability)

pd.DataFrame(compatability, index=school_names, columns=mentor_names).astype(int)

         Alan  Kirsten  Sophia
Hayward     1        1       0
Albany      1        1       1

A value of 1 at `assignments[i][j]` means that the ith school and jth mentor are matched.

In [212]:
assignments = cvx.Variable(
    (num_schools, num_mentors), boolean=True)


# Constraints

We now implement the constraints.

All schools must have at least one mentor.

In [213]:
constraints = []
for school_index in range(num_schools):
    constraints.append(sum(assignments[school_index]) >= 1)

All mentors must have exactly one school.

In [214]:
for mentor_index in range(num_mentors):
    num_schools_for_mentor = 0
    for school_index in range(num_schools): 
        num_schools_for_mentor += assignments[school_index, mentor_index]
    constraints.append(num_schools_for_mentor == 1)

A mentor who is a assigned to a school must have at least a 2 hour block of availability in common with the school

In [215]:
for mentor_index in range(num_mentors):
    for school_index in range(num_schools): 
        a = assignments[school_index, mentor_index]
        c = compatability[school_index, mentor_index]
        # not assigned or is compatible
        condition = (1-a) + c >= 0.5
        constraints.append(condition)

# Optimization

Each possible answer for the pairing of school and mentors has a score. The score is the sum of the point values for each of the mentor-school assignments. The algorithm seeks to maximize the score without violating any constraints.

By default, each mentor-school assignment is worth 100 points. Assigning Sophia to Hayward would increase the score by 100 points. If we want to encourage the algorithm to make a particular assignment, we can increase its score.

    > weights["Alan"]["Hayward"] = 500
    
If we want to always have the algorithm choose a certain assignment, we can assign it a point value of a large number like $10^{10}$. The algorithm will choose this assignment unless it violates constraints or there are alternatives with equally high point values.

In [216]:
BIG = 10**10

weights = pd.DataFrame(
    np.ones((num_schools, num_mentors)) * 100,
    index=school_names,
    columns=mentor_names)
weights

          Alan  Kirsten  Sophia
Hayward  100.0    100.0   100.0
Albany   100.0    100.0   100.0

In [217]:
# More weight adjustments here
# weights["Alan"]["Hayward"] = 500

In [218]:
score = cvx.sum(cvx.multiply(weights, assignments))

# Solving and Results

In [219]:
objective = cvx.Maximize(score)
problem = cvx.Problem(objective, constraints)

score = problem.solve()
print("score: ", score)

pd.DataFrame(
    assignments.value > 0.5,
    index=school_names,
    columns=mentor_names
)

score:  700.0000000797754

          Alan  Kirsten  Sophia
Hayward   True    False   False
Albany   False     True    True

# Verification

We print here the mentors for each school and each mentors availability with that school.

In [220]:
for school_index in range(num_schools):
    school_name = school_names[school_index]
    print()
    print(school_name)
    school_mentor_names = [school_name]
    mutual_availabilities = [school_availability[school_index]]
    for mentor_index in range(num_mentors):
        if assignments.value[school_index][mentor_index] > 0.5:
            school_mentor_names.append(mentor_names[mentor_index])
            mutual_availability = mentor_availability[mentor_index] * school_availability[school_index]
            mutual_availabilities.append(mutual_availability)
    combo = np.vstack(mutual_availabilities)
    display(pd.DataFrame(combo, index=school_mentor_names, columns=time_slot_names))

Hayward

         1-2  2-3  3-4  4-5
Hayward    1    1    0    0
Alan       1    1    0    0

Albany

         1-2  2-3  3-4  4-5
Albany     0    1    1    1
Kirsten    0    1    1    0
Sophia     0    1    1    0